body {
  text-align: center;
  background-color: #1d3557;
  color: #f1faee;
  font-family: "Silkscreen", cursive;
  margin: 0;
  height: 100%;
}

h1 {
  font-size: 5rem;
  margin-bottom: 10px;
  margin-top: 30px;
}

h3 {
  font-size: 1.5rem;
}

a, a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  width: 11rem;
  height: 11rem;
  margin: 0.7rem;
  border: 0.5rem solid #121212;
  cursor: pointer;
}

.pressed {
  border-color: #212121;
}

#green {
  border-radius: 100% 15% 10% 15%;
  background: #1dbd0b;
}

#green.pressed {
  box-shadow: 0 0 50px green;
  background: #36e813;
}

#red {
  border-radius: 15% 100% 15% 10%;
  background: #bd0b0b;
}

#red.pressed {
  box-shadow: 0 0 50px red;
  background: red;
}

#yellow {
  border-radius: 15% 10% 15% 100%;
  background: #e3bc0e;
}

#yellow.pressed {
  box-shadow: 0 0 50px yellow;
  background: yellow;
}

#blue {
  border-radius: 10% 15% 100% 15%;
  background: #0b3ebd;
}

#blue.pressed {
  box-shadow: 0 0 50px blue;
  background: blue;
}

#start-wrapper {
  width: 17rem;
  height: 5.5rem;
  min-width: 100%;
}

#start {
  font-family: "Silkscreen", cursive;
  font-size: 2.5rem;
  width: 17rem;
  height: 4rem;
  margin-top: 40px;
  padding-bottom: 20px;
  border-radius: 12px;
  outline: none;
  border: none;
  background-color: #f1faee;
  box-shadow: 0 9px #999;
  cursor: pointer;
}

#start:active {
  background-color: #cccccc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#cover {
  background-color: #f1faee;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.disable {
  pointer-events: none;
}